In [1]:
import pandas as pd 
import numpy as np

In [2]:
Df1 = pd.read_csv('Loan_training_set_1_4.csv', delimiter = ',', skiprows = 1)
Df2 = pd.read_csv('Loan_training_set_2_4.csv', delimiter = ',', skiprows = 1)
Df3 = pd.read_csv('Loan_training_set_3_4.csv', delimiter = ',', skiprows = 1)
Df4 = pd.read_csv('Loan_training_set_4_4.csv', delimiter = ',', skiprows = 1)

C:\Users\usuario\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (0,145,146,147) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\Users\usuario\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (0,129,130,131,134,135,136,139,145,146,147) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\Users\usuario\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (0,19,129,130,131,134,135,136,139) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\Users\usuario\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (0,19,59) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
DF = pd.concat([ Df1, Df2, Df3, Df4])
DF.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,112435993,NaN,2300.0,2300.0,2300.0,36 months,12.62%,77.08,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,112290210,NaN,16000.0,16000.0,16000.0,60 months,12.62%,360.95,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,112436985,NaN,6025.0,6025.0,6025.0,36 months,15.05%,209.01,C,C4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,112439006,NaN,20400.0,20400.0,20400.0,36 months,9.44%,652.91,B,B1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,112438929,NaN,13000.0,13000.0,13000.0,36 months,11.99%,431.73,B,B5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
DF.to_csv('Loan_joined.csv') # CSV con los 4 DataSets juntos

In [14]:
DF.shape

(884884, 151)

In [15]:
DF['application_type'].unique()

array(['Individual', 'Joint App', nan], dtype=object)

## DATAFRAME SIN EL CURRENT y nan

In [27]:
DF.loan_status.unique()

array(['Current', 'Fully Paid', 'In Grace Period', 'Late (31-120 days)',
       'Late (16-30 days)', 'Charged Off', 'Default', nan], dtype=object)

In [34]:
#(462199, 151)

DF_SIN_CURRENT = DF[DF.loan_status.isin(['Fully Paid', 'In Grace Period', 'Late (31-120 days)',
       'Late (16-30 days)', 'Charged Off', 'Default'])]
DF_SIN_CURRENT.shape

(462191, 151)

In [35]:
DF_SIN_CURRENT.loan_status.unique()

array(['Fully Paid', 'In Grace Period', 'Late (31-120 days)',
       'Late (16-30 days)', 'Charged Off', 'Default'], dtype=object)

## CONVERTIR LOAN_STATUS A DUMMY 0,1

In [38]:
DF_SIN_CURRENT['loan_acceptance'] = DF_SIN_CURRENT['loan_status'].map({'Fully Paid':1,
                                                                       'In Grace Period':0,
                                                                       'Late (31-120 days)':0,
                                                                       'Late (16-30 days)':0,
                                                                       'Charged Off':0,
                                                                       'Default':0,})

print("Current shape of dataset :",DF_SIN_CURRENT.shape)
DF_SIN_CURRENT.head()

Current shape of dataset : (462191, 152)

<ipython-input-38-23fce6ac8604>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DF_SIN_CURRENT['loan_acceptance'] = DF_SIN_CURRENT['loan_status'].map({'Fully Paid':1,

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term,loan_acceptance
8,112038251,NaN,11575.0,11575.0,11575.0,36 months,7.35%,359.26,A,A4,...,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,1
10,112149045,NaN,7200.0,7200.0,7200.0,36 months,24.85%,285.70,E,E3,...,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,1
24,112052261,NaN,7500.0,7500.0,7500.0,36 months,7.35%,232.79,A,A4,...,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,1
42,111999259,NaN,10000.0,10000.0,10000.0,60 months,16.02%,243.29,C,C5,...,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,1
91,111808508,NaN,14000.0,14000.0,14000.0,36 months,16.02%,492.34,C,C5,...,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,1

### Separo en función de si es una persona

In [39]:
DF_SIN_CURRENT_UNA_PERSONA = DF_SIN_CURRENT[DF_SIN_CURRENT['application_type'] == 'Individual']
DF_SIN_CURRENT_UNA_PERSONA.shape

(460541, 152)

In [53]:
lista_ind = ['loan_acceptance','acc_now_delinq','acc_open_past_24mths','all_util','annual_inc','avg_cur_bal','bc_util',
             'collections_12_mths_ex_med','delinq_2yrs', 'delinq_amnt','dti','emp_length','home_ownership',
             'il_util','inq_fi','inq_last_12m','inq_last_6mths','installment','int_rate','loan_amnt','max_bal_bc',
             'mo_sin_old_il_acct','mo_sin_rcnt_rev_tl_op','mort_acc','mths_since_last_delinq',
             'mths_since_recent_bc_dlq','mths_since_recent_inq','mths_since_recent_revol_delinq',
             'num_actv_bc_tl','num_actv_rev_tl','num_bc_sats','num_bc_tl','num_il_tl','num_op_rev_tl',
             'num_rev_accts','num_rev_tl_bal_gt_0','num_sats','num_tl_120dpd_2m','num_tl_30dpd',
             'num_tl_90g_dpd_24m','num_tl_op_past_12m','open_acc','open_act_il','percent_bc_gt_75','revol_bal',
             'tax_liens','tot_cur_bal','tot_hi_cred_lim','total_acc','total_bal_ex_mort','total_bal_il',
             'total_bc_limit','total_cu_tl','total_rev_hi_lim']

In [63]:
df_ind = DF_SIN_CURRENT_UNA_PERSONA[lista_ind]
df_ind.shape

(460541, 54)

### Separo en función de si son dos personas

In [55]:
DF_SIN_CURRENT_VARIAS_PERSONAS = DF_SIN_CURRENT[DF_SIN_CURRENT['application_type'] == 'Joint App']
DF_SIN_CURRENT_VARIAS_PERSONAS.shape

(1650, 152)

In [56]:
lista_col = ['loan_acceptance','acc_now_delinq','acc_open_past_24mths','all_util','annual_inc_joint','avg_cur_bal',
             'bc_util','collections_12_mths_ex_med','delinq_2yrs','delinq_amnt','dti_joint',
             'emp_length','home_ownership','il_util','inq_fi','inq_last_12m','inq_last_6mths',
             'installment','int_rate','loan_amnt','max_bal_bc','mo_sin_old_il_acct','mo_sin_rcnt_rev_tl_op',
             'mort_acc','mths_since_last_delinq','mths_since_recent_bc_dlq','mths_since_recent_inq',
             'mths_since_recent_revol_delinq','num_actv_bc_tl','num_actv_rev_tl','num_bc_sats','num_bc_tl',
             'num_il_tl','num_op_rev_tl','num_rev_accts','num_rev_tl_bal_gt_0','num_sats','num_tl_120dpd_2m',
             'num_tl_30dpd','num_tl_90g_dpd_24m','num_tl_op_past_12m','open_acc','open_act_il',
             'percent_bc_gt_75','revol_bal','tax_liens','tot_cur_bal','tot_hi_cred_lim','total_acc',
             'total_bal_ex_mort','total_bal_il','total_bc_limit','total_cu_tl','total_rev_hi_lim',
             'revol_bal_joint' ,'sec_app_fico_range_low','sec_app_fico_range_high',
             'sec_app_earliest_cr_line' ,'sec_app_inq_last_6mths' ,'sec_app_mort_acc' ,'sec_app_open_acc' ,
             'sec_app_revol_util' ,'sec_app_open_act_il','sec_app_num_rev_accts' ,'sec_app_chargeoff_within_12_mths',
             'sec_app_collections_12_mths_ex_med' ,'sec_app_mths_since_last_major_derog']

In [62]:
df_col = DF_SIN_CURRENT_VARIAS_PERSONAS[lista_col]
df_col.shape

(1650, 67)

## MINI DF PARA IND Y COL

#### INDIVIDUAL

In [58]:
mini_DF_IND = df_ind.iloc[0:500,]
mini_DF_IND.shape

(500, 54)

#### COLECTIVO

In [59]:
mini_DF_COL = df_col.iloc[0:500,]
mini_DF_COL.shape

(500, 67)

In [ ]:
lista_nombres = ('id','member_id','loan_amnt','funded_amnt','funded_amnt_inv','term','int_rate','installment',
                           'grade','sub_grade','emp_title','emp_length','home_ownership','annual_inc','verification_status',
                           'issue_d','loan_status','pymnt_plan','url','desc','purpose','title','zip_code','addr_state','dti',
                           'delinq_2yrs','earliest_cr_line','fico_range_low','fico_range_high','inq_last_6mths','mths_since_last_delinq',
                           'mths_since_last_record','open_acc','pub_rec','revol_bal','revol_util','total_acc','initial_list_status',
                           'out_prncp','out_prncp_inv','total_pymnt','total_pymnt_inv','total_rec_prncp','total_rec_int','total_rec_late_fee',
                           'recoveries','collection_recovery_fee','last_pymnt_d','last_pymnt_amnt','next_pymnt_d','last_credit_pull_d',
                           'last_fico_range_high','last_fico_range_low','collections_12_mths_ex_med','mths_since_last_major_derog',
                           'policy_code','application_type','annual_inc_joint','dti_joint','verification_status_joint','acc_now_delinq',
                           'tot_coll_amt','tot_cur_bal','open_acc_6m','open_act_il','open_il_12m','open_il_24m','mths_since_rcnt_il',
                           'total_bal_il','il_util','open_rv_12m','open_rv_24m','max_bal_bc','all_util','total_rev_hi_lim','inq_fi',
                           'total_cu_tl','inq_last_12m','acc_open_past_24mths','avg_cur_bal','bc_open_to_buy','bc_util',
                           'chargeoff_within_12_mths','delinq_amnt','mo_sin_old_il_acct','mo_sin_old_rev_tl_op',
                           'mo_sin_rcnt_rev_tl_op','mo_sin_rcnt_tl','mort_acc','mths_since_recent_bc','mths_since_recent_bc_dlq',
                           'mths_since_recent_inq','mths_since_recent_revol_delinq','num_accts_ever_120_pd','num_actv_bc_tl',
                           'num_actv_rev_tl','num_bc_sats','num_bc_tl','num_il_tl','num_op_rev_tl','num_rev_accts','num_rev_tl_bal_gt_0',
                           'num_sats','num_tl_120dpd_2m','num_tl_30dpd','num_tl_90g_dpd_24m','num_tl_op_past_12m','pct_tl_nvr_dlq',
                           'percent_bc_gt_75','pub_rec_bankruptcies','tax_liens','tot_hi_cred_lim','total_bal_ex_mort','total_bc_limit',
                           'total_il_high_credit_limit','revol_bal_joint','sec_app_fico_range_low','sec_app_fico_range_high',
                           'sec_app_earliest_cr_line','sec_app_inq_last_6mths','sec_app_mort_acc','sec_app_open_acc','sec_app_revol_util',
                           'sec_app_open_act_il','sec_app_num_rev_accts','sec_app_chargeoff_within_12_mths',
                           'sec_app_collections_12_mths_ex_med','sec_app_mths_since_last_major_derog','hardship_flag',
                           'hardship_type','hardship_reason','hardship_status','deferral_term','hardship_amount','hardship_start_date',
                           'hardship_end_date','payment_plan_start_date','hardship_length','hardship_dpd','hardship_loan_status',
                           'orig_projected_additional_accrued_interest','hardship_payoff_balance_amount','hardship_last_payment_amount',
                           'disbursement_method','debt_settlement_flag','debt_settlement_flag_date','settlement_status','settlement_date',
                           'settlement_amount','settlement_percentage','settlement_term')

In [ ]:
list(data_resumen.isnull().sum())

In [ ]:
list(df_ind.isnull().sum())

In [ ]:
list(df_col.isnull().sum())